@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap") ;
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: grey;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 150px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: black;
    font-weight: 500;
    margin-left: 80px;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position: relative;
    max-width: 600px;
}
.content .textBox h4
{
    color: rgb(12, 12, 46);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 800;
}
.content .textBox h4 span
{
    color: rgb(12, 12, 46);
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p
{
    color: rgb(12, 12, 46);
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: black;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .tab
{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 50px;
}
.content .tab img
{
    max-width: 500px;
}
.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li
{
    list-style: none;
    
}
.sci li:hover
{
    transform: translateX(-15px);
}

.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(12, 12, 46);
    clip-path: circle(600px at right 700px);
}
